@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400);

* {
    box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1; /* For IE 6/7 */
}

ol, ul {
    list-style: outside none none;
}

a {
    text-decoration: none;
}

a img {
    border: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.fw400 {
    font-weight: 400;
}

.cred {
    color: #f40000;
}

.cgreen {
    color: #4caf50;
}

html {
    overflow-y: scroll;
}

html, body { 
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    line-height: 1.2;
}

body {
    font-family: 'Open+Sans', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #505050;
    line-height: 1.4;
    background: #f5f5f5 url(../img/page-bg.png);
}

/* wrapper */

.wrapper {
    width: 936px;
    max-width: calc(100% - 24px);
    margin: 0 auto;
}

/* header */

header {
    background: #767676;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #f1f1f1;
}

/* logo */

#logo {
}

#logo a {
    color: #f1f1f1;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    padding-left: 50px;
    height: 40px;
    line-height: 20px;
    background-image: url(../img/logo.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px 40px;
}

#logo a em {
    font-style: normal;
    display: block;
}

/* search form */

#search {
    padding-top: 5px;
    float: right;
}

#search-form {
    position: relative;
    height: 30px;
    width: 200px;
    max-width: 100%;
}

#search-form input[type=text] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 30px;
    border: 1px solid #f1f1f1;
    border-radius: 5px;
    color: #f1f1f1;
    font-family: inherit;
    background: transparent;
    font-size: 13px;
    padding: 0 30px 0 10px;
    -webkit-appearance: none;
}

#search-form input[type=submit] {
    position: absolute;
    right: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 0;
    border-left: 1px solid #f1f1f1;
    background: transparent;
    background-image: url('../img/search-icon-white.png');
    background-position: center center;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    cursor: pointer;
    -webkit-appearance: none;
}

/* user buttons */

#user-buttons {
    float: right;
}

#user-buttons a {
    color: #f1f1f1;
    font-size: 14px;
    display: inline-block;
    line-height: 40px;
    margin-left: 5px;
    margin-right: 5px;
}

/* car-filter-form */

#car-filter-form {
}

#car-filter-form input[type=text],
#car-filter-form input[type=password],
#car-filter-form input[type=number] {
    height: 32px;
    /*width: 200px;*/
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #505050;
    font-family: inherit;
    background: #fff;
    font-size: 13px;
    padding-left: 5px;
    -webkit-appearance: none;
}

#car-filter-form select {
    height: 32px;
    /*width: 200px;*/
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #505050;
    font-family: inherit;
    background: #fff;
    font-size: 13px;
    padding-left: 5px;
    background-image: url('../img/drop-down-arrow.png');
    background-position: calc(100% - 10px) 10px;
    background-size: 12px 12px;
    background-repeat: no-repeat;
    -webkit-appearance: none;
}

#car-filter-form input[type=submit] {
    height: 32px;
    width: 100px;
    font-family: inherit;
    color: #505050;
    font-weight: 400;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: 4px;
    font-size: 13px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    transition: opacity .125s linear;
    -webkit-appearance: none;
}

#car-filter-form input[type=submit]:hover {
    opacity: 0.7;
}

.button {
    display: inline-block;
    padding: 10px;
    /*height: 32px;*/
    /*width: auto;*/
    font-family: inherit;
    color: #505050;
    font-weight: 400;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, .04);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    background-image: linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
    transition: opacity .125s linear;
    -webkit-appearance: none;
}

.button:hover {
    opacity: 0.7;
}

.main-top {
    text-align: center;
    padding-bottom: 20px;
}

textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #505050;
    font-family: inherit;
    background: #fff;
    font-size: 14px;
    -webkit-appearance: none;
}

.auction-desc {
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #505050;
    background: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
}

/* checkbox selector */

.filterSection {
}

.filterSection li {
    display: inline-block;
    padding: 5px 10px 5px 0;
}

#itemsToFilter {
}

#itemsToFilter li {
}

.showItem {
    display: list-item;
}

.hideItem {
    display: none;
}

/* navigation */

nav {
    border-bottom: 1px solid #ccc;
}

nav ul {
}

nav ul li {
    display: block;
    float: left;
    width: 25%;
    text-align: center;
}

nav ul li a {
    line-height: 40px;
    font-size: 15px;
    color: #656565;
    text-transform: uppercase;
    transition: color .125s linear;
}

nav ul li a:hover {
    color: #959595;
}

/* main */

main {
    min-height: 640px;
    border-top: 1px solid #fff;
    padding-top: 80px;
    padding-bottom: 80px;
}

.content {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .26);
    margin-bottom: 40px;
}

.content:last-of-type {
    margin-bottom: 0;
}

.content-head {
    padding: 20px;
    background: #fafafa;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #ddd;
}

.content-title {
    font-weight: 400;
    font-size: 16px;
}

.content-subtitle {
    font-size: 15px;
}

.content-form {
    padding: 20px;
}

.content-body {
    padding: 20px;
}

.content-foot {
    padding: 20px;
    background: #fafafa;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #ddd;
}

/* car-list */

ul.car-list {
    display: table;
    width: 100%;
    border-collapse: collapse;
    border-top: 1px solid #ddd;
}

ul.car-list li {
    /* display: table-row; */
    border-bottom: 1px dashed #ddd;
}

ul.car-list li:last-of-type {
    border-bottom: 0;
}

.cell-img, .cell-txt {
    display: table-cell;
    vertical-align: top;
}

.cell-img {
    width: 25%;
    padding: 20px;
}

.cell-txt {
    width: 75%;
    position: relative;
}

.titles {
    position: absolute;
    top: 20px;
    left: 0;
}

.price {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 14px;
    margin-top: 5px;
    padding-left: 20px;
    background-image: url('../img/hungary-icon.png');
    background-position: 0px 2px;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

ul.car-list .title {
    font-weight: 400;
    font-size: 16px;
}

ul.car-list .title a {
    color: #505050;
    transition: color .125s linear;
}

ul.car-list .subtitle {
}

/* electric versus petrol form table */

.evspetrol {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.evspetrol:last-of-type {
    margin-bottom: 0;
}

.evspetrol td {
    padding: 5px;
    width: 50%;
    vertical-align: middle;
}

.evspetrol td:nth-child(2) {
    text-align: right;
}

/* car list table */

.single {
    width: 100%;
    border-collapse: collapse;
    position: absolute;
    left: 0;
    bottom: 20px;
    margin-top: 5px;
}

.single td {
    font-size: 14px;
}

/* thumbs */

.thumb {
    /*border: 1px solid #ddd;*/
    /*border-radius: 5px;*/
    background-color: #fff;
}

.img-with-bg {
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* car-page */

.car-page {
    padding: 20px;
    border-top: 1px solid #ddd;
}

h2 {
    font-size: 16px;
    margin-bottom: 20px;
}

h3 {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

section {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

section:last-of-type {
    border-bottom: 0;
}

/* thumbnails */

.thumbnails {
    border-bottom: 1px solid #ddd;
    padding-top: 5px;
    padding-bottom: 5px;
}

.thumbnails p {
    display: none;
    text-align: center;
    font-size: 14px;
}

.thumbnails img {
    float: left;
    height: 60px;
    /*border: 1px solid #ddd;*/
    margin-right: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

/* single car table */

.props {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.props caption {
    padding: 5px;
    text-align: left;
    font-weight: 400;
}

.props tr:nth-child(odd) {
    background-color: #eee;
}

.props td {
    padding: 5px;
}

.props td:nth-child(2) {
    text-align: right;
}

/* compare table */

.compare {
    width: 100%;
    border-collapse: collapse;
}

.compare tr:nth-child(odd) {
    background-color: #eee;
}

.compare td {
    vertical-align: middle;
    text-align: center;
    padding: 5px;
}

.compare td:nth-child(1) {
    width: 25%;
}

.compare td:nth-child(2) {
    width: 50%;
}

.compare td:nth-child(3) {
    width: 25%;
}

/* compare img */

.compare-img {
    width: 100%;
    border-collapse: collapse;
}

.compare-img td {
    width: 50%;
    vertical-align: bottom;
    text-align: center;
    padding: 5px;
}

/* footer */

footer {
    background: #767676;
    padding: 10px;
}

footer p {
    font-size: 13px;
    color: #ddd;
    text-align: center;
}

/* canvas holder */

.canvas-holder {
    width: 100%;
    padding: 20px 0;
}

/* Grid system of 12 cols */

.section {
    /* clear: both; */
    /* use clearfix */
}

[class*="col-"] {
    display: block;
    float: left;
    min-height: 1px;
}

.col-1 {width: 8.33333%;}
.col-2 {width: 16.66666%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33333%;}
.col-5 {width: 41.66666%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33333%;}
.col-8 {width: 66.66666%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33333%;}
.col-11 {width: 91.66666%;}
.col-12 {width: 100%;}

/* Media Queries for responsive design */
/* Screen */

@media only screen and (max-width: 800px) {
    [class*="col-"] {
        width: 100%;
        min-height: 0;
    }
    main {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    nav ul li {
        width: 100%;
    }
    #logo {
        text-align: center;
    }
    #search {
        float: none;
        padding-top: 15px;
    }
    #search-form {
        width: 80%;
        margin: 0 auto;
    }
    #user-buttons {
        float: none;
        padding-top: 10px;
        text-align: center;
    }
    .thumbnails img {
        display: none;
    }
    .thumbnails p {
        display: block;
    }
    ul.car-list {
        display: block;
        padding: 10px;
    }
    .cell-img, .cell-txt {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px;
    }
    .titles, .single {
        position: static;
        width: 100%;
    }
    .price {
        position: static;
        display: inline-block;
    }
}